@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-info text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item btn btn-info btn-sm" asp-area="Identity" asp-page="/Account/Manage/Index">Perfil</a>       
                <a class="dropdown-item btn btn-info btn-sm" asp-area="" asp-controller="TruequesWeb" asp-action="Create" asp-route-returnUrl="@Context.Request.Path">Crear Trueque</a>
                <a class="dropdown-item btn btn-info btn-sm" asp-area="" asp-controller="TruequesWeb" asp-action="GetTruequesFromCurrentUser">Mis Trueques</a>
                <a class="dropdown-item btn btn-info btn-sm" asp-area="" asp-controller="Enlaces" asp-action="GetMisSolicitudes">Mis Solicitudes</a>
                <a class="dropdown-item btn btn-info btn-sm" asp-area="" asp-controller="Enlaces" asp-action="GetSolicitudesRecibidas">Solicitudes Recibidas</a>
                <a class="dropdown-item btn btn-info btn-sm" asp-area="" asp-controller="EnlacesHechos" asp-action="MisTruequesCompletados">Trueques completados</a>
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Salir</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">            
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><span class="glyphicon glyphicon-user"></span> Entrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register"><span class="glyphicon glyphicon-log-in"></span> Registrarse</a>
        </li>
    }
</ul>
