

@section css {
<link href="@Url.Content("~/css/login.css")" rel="stylesheet" />
}
              <!-- Modal -->

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Detalles de trueque</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="d-flex justify-content-around align-items-center m-5">
                                <img src="/images/wink-svgrepo-com.svg" alt="" style="width: 100px; height: 100px;">
                                <div class="details-list-grid ms-5">
                                    <dt>Fecha</dt>
                                    <dd>14/11/2675</dd>
                                    <dt>Tipo</dt>
                                    <dd>Completo</dd>
                                    <dt>Propone</dt>
                                    <dd>Laptop de uso</dd>
                                    <dt>Busca</dt>
                                    <dd>Disco duro externo</dd>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary">Aceptar</button>
                            </div>
             