
@{
    ViewData["Title"] = "Trueque";    
}

<article class="card col-8 offset-2 p-4" style="margin-bottom: 3rem; ">
<div>
    <h1 class="padding-top-7xl text-center">Bienvenidos a Trueque!</h1>
    <p class="intro text-center">Trueque es la aplicación que le permitirá intercambiar sus objetos en desuso por otros de su interés</p>
    
</div>
</article>
<div class="buttons-box">
        <button class="btn btn-info">Ingresar</button>
        <button class="btn btn-info">Buscar</button>
    </div>

