
@{
    ViewData["Title"] = "Trueque";    
}

<div>
    <h1 class="size-4xl">Take the hassle out of icons in your
            <span class="cycler animate__animated animate__fadeIn" style="color: var(--fa-dk-yellow);">website.</span></h1>
</div>

