@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Trueque";
}
@section css {
<link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
}
<style>
    .card i{
     font-size: 5rem;
     }

     .categorie {
         width: 50px;
         height: 50px;
     }
</style>
<!-- Search bar -->
<section class="searching text-white p-3">
    <div class="container">
        <form asp-action="Index" method="get">
            @*<div class="d-md-flex justify-content-between align-items-center">*@
                @*<h3 class="mb-3 mb-md-0">Buscar trueques <span class="search-extra-text">por palabra clave</span></h3>*@
                <div class="d-flex justify-content-center align-items-center input-group search-input">
                    <input type="text" class="form-control" placeholder="Buscar trueques por palabra clave: arroz, café, celular..." name="SearchString" value="@ViewData["CurrentFilter"]">
                    <button class="btn btn-dark" type="submit" asp-controller="TruequesWeb" asp-action="Index">Buscar</button>
                </div>
            @*</div>*@
        </form>
    </div>
</section>

<!-- Showcase -->
<section class="showcase bg-gray">
    <div class="container text-sm-start text-dark p-5 py-sm-5 px-sm-3">
        <div class="d-sm-flex justify-content-between align-items-center">
            <div class="showcase-text">
                <h1>Bienvenido a <spam class="txt">Trueque</spam></h1>
                <p class="lead my-4">¿Posee bienes en desuso que desearía intercambiar por otros más acordes con su necesidad?</p>
                <p>Pues ha llegado al lugar correcto!</p>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn bg-orange btn-lg text-white">Crear una cuenta</a>
                }
            </div>
            @*<img class="image-fluid w-50 d-none d-sm-block showcase-img" src="/images/svg/undraw_login_re_4vu2.svg" alt="Trueques">*@
        </div>
</section>


<!-- About -->
<div class="about p-5 bg-white text-md-start">
    <div class="container">
        <div class="d-sm-flex justify-content-center align-items-center">
          
            <div class="col-md p-md-5 pe-md-1">
                <h2>¿Qu&eacute; es un trueque?</h2>
                <div class="line"></div>
                <p class="lead">Un <span class="txt-orange">trueque</span> es una propuesta de intercambio creada por un ususario de la plataforma. Esta puede ser completa o parcial, es decir, el usuario puede especificar qué busca y qué propone a cambio, indistintamente.</p>
                <p class="lead"> Estos trueques son descubiertos por otros usuarios, quienes pueden solicitar su completitud enviando propuestas que complementen el intercambio</p>
                <!-- <p class="lead">Este sitio sirve como pasarela para la gestión y registro de sus trueques. Les permite a los ususarios en ultima instancia, intercambiar la información personal provista para cumplimetar su intercambio de manera presencial.</p> -->
                <a href="#" class="btn bg-orange text-white mt-3"><span class="bi bi-chevron-right">Leer más</span></a>
            </div>
              <div class="col-md mb-sm-5">
                <img src="/images/svg/undraw_sharing_articles_re_jnkp.svg" class="img-fluid w-70 d-none d-md-block" alt="intercambiar">
            </div>
        </div>
    </div>
</div>

<!-- Categories -->
<section class="categories pb-5 bg-gray">
    <h2 class="md my-2 pt-4">Categor&iacute;as</h2>
    <div class="line"></div>
    <div class="container d-flex flex-wrap justify-content-around">
        <div class="card" data-bs-placement="top" data-bs-toggle="tooltip" title="Regalos">
            <img src="/Images/laptop.png"/>
        </div>
        <div class="card" data-bs-placement="top" data-bs-toggle="tooltip" title="Alimentos">
            <img src="/Images/food.png"/>
        </div>
        <div class="card" data-bs-placement="top" data-bs-toggle="tooltip" title="Celulares">

           <img src="/Images/cellphone.png"/>
        </div>
        <div class="card" data-bs-placement="top" data-bs-toggle="tooltip" title="Medicina">

            <img src="/Images/appliance.png"/>
        </div>
        <div class="card" data-bs-placement="top" data-bs-toggle="tooltip" title="Aseo y limpieza">

            <img src="/Images/amenities.png"/>
        </div>
        <div class="card" data-bs-placement="top" data-bs-toggle="tooltip" title="Electrodomésticos">

            <img src="/Images/medicine.png"/>
        </div>

    </div>
</section>


<!-- Application -->
<div class="about p-5 bg-white text-md-start">
    <div class="container">
        <div class="d-sm-flex justify-content-center align-items-center">
            <div class="col-md mb-sm-5">
                <img src="/images/svg/undraw_mobile_app_re_catg.svg" class="img-fluid w-70 d-none d-md-block" alt="intercambiar">
            </div>
            <div class="col-md p-md-5 pe-md-1">
                <h2>Aplicación Android</h2>
                <div class="line"></div>
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid alias illum, molestiae saepe illo maxime ipsam harum. Minus, autem quidem quod quis voluptas saepe rem nobis cum optio expedita molestias?</p>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, a.</p>
                <!-- <p class="lead">Este sitio sirve como pasarela para la gestión y registro de sus trueques. Les permite a los ususarios en ultima instancia, intercambiar la información personal provista para cumplimetar su intercambio de manera presencial.</p> -->
                <a href="#" class="btn bg-orange text-white mt-3"><span class="bi bi-chevron-right"><i class="fa fa-download"></i> Descargar App</span></a>
            </div>
            
        </div>
    </div>
</div>

<!-- FQAs -->
<section class="questions py-5 bg-gray">
    <div class="container">
        <div class="card">
            <h2 class="my-2 pt-4 ">Peguntas frecuentes</h2>
            <div class="line"></div>
            <div class="accordion accordion-flush" id="questions">
                <!-- item 1 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-one" aria-expanded="false">
                            ¿Es necesario tener una cuenta para buscar trueques?
                        </button>
                    </h2>
                    <div id="question-one" class="accordion-collapse collapse" data-bs-parent="#questions">
                        <div class="accordion-body">No es necesario, pero s&Iacute; para poder crearlos y enviar propuestas.</div>
                    </div>
                </div>
                <!-- item 2 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-two" aria-expanded="false">
                            ¿Cómo sé cuando mi propuesta de trueque fue aceptada?
                        </button>
                    </h2>
                    <div id="question-two" class="accordion-collapse collapse" data-bs-parent="#questions">
                        <div class="accordion-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis sed quae quidem aliquid rerum maiores velit sint, qui quasi porro, consequuntur sunt, ab ex architecto accusantium. Quia eius cumque ipsa.</div>
                    </div>
                </div>
                <!-- item 3 -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-three" aria-expanded="false">
                            ¿Cómo accedo a la información de contacto de la otra persona?
                        </button>
                    </h2>
                    <div id="question-three" class="accordion-collapse collapse" data-bs-parent="#questions">
                        <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, animi quaerat voluptate doloremque numquam officiis quo minus iste officia vel ex obcaecati facere totam ea deleniti fugit at. Nobis, ut.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>