@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, revise su buzón de correo para cambiar su contraseña.
</p>

