@page
@model LoginModel

@{
    ViewData["Title"] = "Autenticarse";
}

@section css {
<link href="@Url.Content("~/css/login.css")" rel="stylesheet" />
}

<!--Login-->
<main role="main" class="app-content px-3" style="padding: calc(1rem*5); ">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="line-length-sm">
            <article class="card py-5">
                <div class="header">
                    @*<span class="text-uppercase margin-bottom-xl txt-orange" style="display: block; letter-spacing: 0.25em; font-weight: 700;; color: #fab005;">
                        &iexcl;Qu&eacute; bueno verlo!
                    </span>
                    <i><img style="width: 5rem; height:5rem;" src="/trueque_icon.png" alt=""></i>*@
                    <h2 class="margin-y-sm">Autent&iacute;quese</h2>
                    <p>Entrar con una cuenta local</p>
                </div>
                <div style="text-align: left;">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form method="post">
                        <div class="margin-bottom-2xl">
                            <div>
                                <label class="form-label" for="email-address">Correo</label>
                            </div>
                            <div>
                                @*<span class="fas fa-envelope-square" style="position: absolute; display: inline-block; margin: 1.75rem 2rem; font-size: 1.5rem;"></span>*@
                                <input asp-for="Input.Email" type="email" class="form-control"  placeholder="Ej: pepeperez@gmail.com">
                            </div>

                        </div>
                        <div class="margin-bottom-2xl">
                            <div>
                                <label class="form-label" for="password">Contraseña</label>
                            </div>
                            <div>
                                @*<i class="fa fa-lock" style="position: absolute; display: inline-block; margin:  1.7rem 2rem; font-size: 1.5rem;"></i>*@
                                <input asp-for="Input.Password" type="password" class="form-control" >
                            </div>
                        </div>
                        <div class="d-flex justify-content-around align-items-baseline mb-4">
                            <div>
                                <input class="bg-orange" asp-for="Input.RememberMe" type="checkbox" checked>
                                <label asp-for="Input.RememberMe" class="form-label">Recordarme</label>
                            </div>
                            <a asp-page="./ForgotPassword">Olvid&oacute; su contrase&ntilde;a?</a>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn bg-orange btn-lg text-white" type="submit">Entrar</button>
                            <div class="d-flex justify-content-between align-items-center mt-3" style="flex-direction: column;">
                                <p>Entrar con mi cuenta de:</p>
                                <button class="btn text-white btn-lg" type="button" style="background-color: #3b5998; width: 100%;"><span class="fab fa-facebook-f me-2"></span>Facebook</button>
                            </div>
                        </div>
                    </form>
                </div>
            </article>
        </div>
</main>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
