@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Este sitio actualmente no posee un emisor de correo registrado, vea <a href="https://aka.ms/aspaccountconf">esta doc</a> de cómo configurar un emisor de correo.
    Normalmente se le enviaría un correo con este mensaje: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haga clic aquí para confirmar su cuenta</a>
</p>
    }
    else
    {
<p>
        Por favor, revise su buzón de correo electrónico para confirmar su cuenta.
</p>
    }
}
