@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido modificada. Por favor, <a asp-page="./Login">de clic aquí para autenticarse</a>.
</p>
