:root {
    /*--bg-blue: #047aed;*/
    text-align: center;
    --bg-orange: #FFAB33;
}

@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/Cera\ Pro\ Light.otf')format('opentype');
}

* {
    font-family: CeraPro;
}
/*Background*/
.app-content {
    background-image: url("../images/svg/pattern2.svg");
}

/* Navbar */

.logo a {
    text-transform: uppercase;
    text-decoration: none;
}

a {
    color: var(--bg-orange);
}

    a:hover {
        color: #FFBF68;
    }
nav ul {
    list-style-type: none;
}

.navbar {
    background-color: var(--bg-orange);
}

/* .navbar a:hover {
    border-bottom: 2px #fff solid;
} */

/* Footer */
footer{
    font-size: 0.85rem;
}
footer a {
    text-decoration: none;
}

footer .social a {
    margin: 0 10px;
}

@media (min-width: 768px) {

    .links {
        text-align: start;
    }
}

@media (max-width: 768px) {

    footer .d-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer ul {
        padding-left: 0;
    }
}


@media (min-width: 768px) {
    footer .d-flex {
        justify-content: space-between;
        align-items: center;
    }
}    

.bg-orange {
    background-color: var(--bg-orange);
}

.txt-orange {
    color: var(--bg-orange);
}
@media (max-width: 576px) {

    .btn-options {
        width: 100%;
    }
}


table {
    text-align: start;
}