/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

navbar-brand{
    position: relative;
    background: url(../images/trueque_icon.png);
    width: 170px;
    left: 15px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0b2537;
}

    /* mouse over link */
    a:hover {
        color: #2dd59b;
    }

.btn-primary {
    color: #fff;
    background-color: #0b2537;
    border-color: #0b2537;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url("/Images/pattern.svg");
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Added*/
@font-face {
    font-family: 'CeraPro';
    src: url('/fonts/Cera Pro Bold.otf')format('opentype');
}

* {
    font-family: CeraPro;
    font-size: 16px;
}

header {
    display: block;
    background-color: white;
}

.app-header, .app-sweatband, .app-sock, .app-footer {
    flex-shrink: 0;
}

.container {
    --outer-gutter-width: var(--grid-outer-gutter-width);
}

.navbar-light .navbar-toggler {
    border: none !important;
}

.text-center {
    text-align: center;
}

.padding-top-7xl {
    padding-top: 70px !important;
}

p.intro{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.buttons-box {
    text-align: center;    
}

.btn-theme{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}


